@import url("https://fonts.googleapis.com/css?family=Orbitron|Quicksand:500");
/* determines size */
 body {
	 background-image: repeating-linear-gradient(0deg, #292929, #292929 15px);
}
 .arcade-machine {
	 height: 400px;
	 width: 400px;
	 position: relative;
	 margin: 35px auto;
	 perspective: 35em;
}
 .arcade-machine .top {
	 height: 15%;
	 width: 70%;
	 position: absolute;
	 top: 0%;
	 left: 15%;
	 background: white;
	 border: 5px solid #4c4c4c;
	 z-index: 3;
}
 .arcade-machine .top:before, .arcade-machine .top:after {
	 height: 100%;
	 width: 4%;
	 position: absolute;
	 top: -9%;
	 background: white;
	 border: 5px solid #4c4c4c;
	 content: " ";
}
 .arcade-machine .top:before {
	 left: -6%;
}
 .arcade-machine .top:after {
	 right: -6%;
}
 .arcade-machine .stripes {
	 height: 100%;
	 width: 10%;
	 position: absolute;
	 top: 0%;
	 left: 45%;
	 background: #EEC563;
}
 .arcade-machine .stripes:before, .arcade-machine .stripes:after {
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 top: 0%;
	 content: " ";
}
 .arcade-machine .stripes:before {
	 background: #bfd3c1;
	 left: -100%;
}
 .arcade-machine .stripes:after {
	 background: #BD6AF6;
	 right: -100%;
}
 .arcade-machine > .shadow {
	 height: 85%;
	 width: 65%;
	 position: absolute;
	 top: 2%;
	 left: 19%;
	 background: #4b5b61;
	 box-shadow: 0 0 60px #4b5b61;
	 z-index: -1;
}
 .arcade-machine .screen-container {
	 height: 50%;
	 width: 62%;
	 position: absolute;
	 top: 15%;
	 left: 19%;
	 background: #4b5b6100;
	 border: 5px solid #4c4c4c;
	 z-index: 1;
}
 .arcade-machine .screen-container:before, .arcade-machine .screen-container:after {
	 height: 100%;
	 width: 4%;
	 position: absolute;
	 top: -2%;
	 background: white;
	 content: " ";
	 border: 5px solid #4c4c4c;
	 z-index: 2;
}
 .arcade-machine .screen-container:before {
	 left: -6%;
}
 .arcade-machine .screen-container:after {
	 right: -6%;
}
 .arcade-machine .screen-container .shadow {
	 height: 8%;
	 width: 110%;
	 position: absolute;
	 top: 0%;
	 left: -5%;
	 background: rgba(0, 0, 0, 0.1);
	 z-index: 4;
}
 .arcade-machine .screen-container .screen {
	 height: 70%;
	 width: 75%;
	 position: absolute;
	 top: 15%;
	 left: 11%;
	 background: #31333200;
	 border: 5px solid #4c4c4c;
	 border-radius: 90px 93px 93px 93px / 15px 15px 15px 15px;
	 overflow: hidden;
	 text-align: center;
}
 .arcade-machine .screen-container .screen-display {
	 position: absolute;
	 width: 100%;
	 height: 200%;
	 background-image: repeating-linear-gradient(0deg, #31333200, #31333200 15px, #4a4d4c 15px, #4a4d4c 16px);
	/* determines size */
	 animation: translate 1s infinite;
}
 .arcade-machine .screen-container .screen h2 {
	 position: absolute;
	 top: 60%;
	 color: #e0e0e0;
	 font-family: "Orbitron", sans-serif, sans-serif;
}
 .arcade-machine .screen-container .joystick {
	 height: 6%;
	 width: 5%;
	 background: #0f90c9;
	 position: absolute;
	 top: 91%;
	 left: 17%;
	 border-radius: 50%;
	 border: 5px solid #4c4c4c;
	 z-index: 3;
}
 .arcade-machine .screen-container .joystick:before {
	 height: 90%;
	 width: 65%;
	 position: absolute;
	 top: 7%;
	 left: 32%;
	 background: #0d78a8;
	 content: "";
	 border-radius: 50%;
}
 .arcade-machine .screen-container .joystick .stick {
	 height: 200%;
	 width: 40%;
	 position: absolute;
	 top: 100%;
	 left: 30%;
	 background: #4c4c4c;
	 content: "";
}
 .arcade-machine .screen-container .joystick .stick:before {
	 height: 100%;
	 width: 150%;
	 transform: rotate(90deg);
	 position: absolute;
	 top: 50%;
	 left: -20%;
	 background: #4c4c4c;
	 content: "";
}
 .arcade-machine .board {
	 height: 20%;
	 width: 66%;
	 position: absolute;
	 top: 61%;
	 left: 18.2%;
	 background: #4b5b61;
	 transform: rotateX(70deg);
}
 .arcade-machine .board:before, .arcade-machine .board:after {
	 height: 92%;
	 width: 4%;
	 position: absolute;
	 top: -2%;
	 background: white;
	 content: " ";
	 border: 5px solid #4c4c4c;
	 z-index: 2;
}
 .arcade-machine .board:before {
	 left: -6%;
}
 .arcade-machine .board:after {
	 right: -6%;
}
 .arcade-machine .board .button {
	 height: 15%;
	 width: 6%;
	 position: absolute;
	 top: 40%;
	 left: 30%;
	 border-radius: 50%;
	 border: 5px solid #4c4c4c;
}
 .arcade-machine .board .button-a {
	 background: #bfd3c1;
	 left: 40%;
}
 .arcade-machine .board .button-b {
	 background: #EEC563;
	 left: 55%;
}
 .arcade-machine .board .button-c {
	 background: #BD6AF6;
	 left: 70%;
}
 .arcade-machine .bottom {
	 height: 10%;
	 width: 71%;
	 position: absolute;
	 top: 76%;
	 left: 14.5%;
	 background: white;
	 border: 5px solid #4c4c4c;
}
 .arcade-machine .bottom:before, .arcade-machine .bottom:after {
	 height: 98%;
	 width: 4%;
	 position: absolute;
	 top: -9%;
	 background: white;
	 content: " ";
	 border: 5px solid #4c4c4c;
	 z-index: 2;
}
 .arcade-machine .bottom:before {
	 left: -5.8%;
}
 .arcade-machine .bottom:after {
	 right: -5.9%;
}

.sp_pong {
    width: 150px;
    height: 150px;
    z-index: 1000;
    position:relative;
}

 @keyframes bounce {
	 from {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-5px);
	}
	 to {
		 transform: translateY(0);
	}
}
 @keyframes translate {
	 from {
		 top: 0;
	}
	 to {
		 top: 10%;
	}
}

/*rounded corner buttons*/
.rcorners {
  font-family: monospace;
  border-radius: 25px;
  padding: 5px; 
  width: 300;
  height: px;
}
/*Vertical buttons*/
.vertical-buttons {
  width: 200px;
}
.vertical-buttons a {
  margin: 20px;
  background-color: #292929;
  color: #EEC563;
  display: block;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-decoration: none;
}
.vertical-buttons a:hover {
  color: #BD6AF6;
  background-color: #292929;
}
